/* #region  */
button {
  padding: 0;
}

a {
  color: #374f42;
  font-weight: 700;
  transition: color 0.3s ease;
}

a:hover {
  color: #374f4288;
}
/* #endregion  */

/* #region burger */

.menuHeader .logoLink {
  display: block;
}

@media (min-width: 1440px) {
  .menuHeader .logoLink {
    display: none;
  }
}

.page {
  /* height: calc(100vh - 74px); */
  top: 74px;

  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #d1e0d8;
  /* transform: translateY(-100%); */
  transition: top 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open {
  top: 0;
}
.burger {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  padding: 0;
}

.line {
  display: block;
  height: 2px;
  background-color: #374f42;
  border-radius: 2px;
  width: 100%;
}

.logoLink {
  padding-left: 12px 16px;
  position: relative;
}

.menuHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.closeBtn {
  font-size: 28px;
  background-color: inherit;
  color: #070721;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .menuHeader {
    padding: 18px;
  }
}

@media (min-width: 1440px) {
  .page {
    position: static;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    overflow: visible;
    top: auto;
    padding: 0;
    z-index: auto;
  }

  .burger {
    display: none;
  }

  .closeBtn {
    display: none;
  }
}

/* #endregion burger */

/* #region mobile */

.activeLink {
  color: #374f42;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: #d1e0d8;
  padding: 14px 16px;
  height: 74px;

  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 18px; */
  top: 0;
  min-width: 320px;
}

.itemPage {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.pageList {
  font-weight: 700;
  color: #374f42;
  transition: color 0.3s ease-in-out;
}

.pageList:hover,
.activeLink:hover {
  color: #374f428e;
}

.btnCreate {
  color: white;
  border-radius: 64px;
  padding: 12px 16px;
  width: 161px;
  height: 46px;
  background-color: #649179;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 32px;
}
.btnCreate:hover {
  background-color: #6491798c;
}

.btnCreateTablet {
  display: none;
}

.userContent {
  display: flex;
  gap: 12px;
  align-items: center;
}

.conUser {
  display: flex;
  gap: 16px;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: #374f42;
}

.listUserImg {
  border-radius: 256px;
  width: 40px;
  height: 40px;
}

.btnExit {
  background-color: inherit;
  border-radius: 8px;
}

/* #endregion mobile */

/* #region tablet */
@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    display: flex;
    gap: 0;
    width: 768px;
    padding: 0 14px;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .itemPage {
    gap: 36px;
  }

  .btnCon {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .btnCreate {
    display: none;
  }

  .btnCreateTablet {
    color: white;
    display: block;
    border-radius: 64px;
    padding: 12px 16px;
    width: 161px;
    height: 46px;
    background-color: #649179;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }

  .btnCreateTablet:hover {
    background-color: #6491798c;
  }
}
/* #endregion tablet */

/* #region desctop */
@media (min-width: 1440px) {
  .header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
  }
  .container {
    padding: 14px 108px;

    /* height: 74px; */
    width: 1440px;
  }
  .divider {
    width: 2px;
    height: 45px;
    background-color: #374f42;
  }

  .itemPage {
    flex-direction: row;
    padding: 0;
  }
  .page {
    /* display: flex; */
    /* max-width: 1440px; */
    /* padding-right: 108px; */
    gap: 32px;
    /* position: absolute; */
  }

  .listPage {
    min-width: 60px;
    font-weight: 700;
    font-size: 12px;
  }

  .btnCreate {
    display: block;
    min-width: 161px;
    height: 46px;
    margin: 0;
  }

  .burger,
  .closeBtn,
  .btnCreateTablet {
    display: none;
  }

  .pageList {
    padding: 0px 0px 4px 0px;
    height: 20px;
  }

  .conUser {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .userContent {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .listUserImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}
/* #endregion desctop */
