@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  font-family: 'Manrope', sans-serif;
}

.authorsPage {
  margin: 48px 16px;
}

.authorsName {
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-bottom: 16px;
}

.loadMore {
  margin: 0 auto;
  display: block;
  border-radius: 64px;
  padding: 16px;
  width: 340px;
  height: 57px;
  font-weight: 700;
  font-size: 18px;
  background: #649179;
  color: #f7fffb;
  cursor: pointer;
}

.loadMore:hover {
  background: #374f42;
}

.loadMore:focus {
  outline: none;
  border: 2px solid #f7fffb;
  box-shadow: 0 0 6px rgba(78, 70, 180, 0.12);
}

@media (min-width: 768px) {
  .authorsPage {
    margin: 48px 32px;
  }
}

@media (min-width: 1440px) {
  .authorsPage {
    margin: 48px 108px;
  }
}
